{% extends "header.html" %}
{% block header_account_settings_link %}
  {{ super() }}
  <li>
    <a href="/harvest" title="{{ _('Harvesting') }}">
      <i class="fa fa-download" aria-hidden="true"></i>
      <span class="text">{{ _('Harvesting') }}</span>
    </a>
  </li>
{% endblock %}
{% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('about', _('Library')),
          ('about', _('Topics')),
          ('about', _('Publishers')),
          ('about', _('Blog')),
          ('about', _('About')),
        ) }}
{% endblock %}